<!-- footer -->
  <footer id="footer">
    <div class="conteiner m-auto">
      <div class="footer__menu">
        <nav class="footer__nav">
          <ul>
            <ul>
            <li><a href="{{ home }}">Главная</a></li>
            {% for information in informations %}
            <li><a href="{{ information.href }}">{{ information.title }}</a></li>
            {% endfor %}
            <li><a href="{{ contact }}">Контакты</a></li>
          </ul>
          </ul>
        </nav>
      </div>
      <div class="footer__contacts">
        <div class="footer__subscribe">
          <p>Вы можете подписаться на рассылку выгодных предложений от нашего магазина:</p>
          <input type="email" name="subscribe__email" id="subscribe__email" placeholder="Введите ваш e-mail">
          <input type="button" value="Отправить">
        </div>
        <div class="footer__about">
          <div class="phone">
            <p>Телефон:</p>
            <a href="tel:+7 (000) 000-00-00">+7 (000) 000-00-00</a>
            <br>
            <a href="tel:8 000 111-11-11">8 000 111-11-11</a>
          </div>
          <div class="operating__mode">
            <p>Режим работы:</p>
            <p>с 9:00 до 22:00<br>
              ежедневно</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__signature conteiner m-auto">
      <p>
        Copyright © 2020 Корзинка
      </p>
    </div>
  </footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>